#all {
  display: flex;
  gap: 40px;
  margin-left: 90px;
}
.temp {
  display: flex;
  gap: 10px;
  font-size: 25px;
  color: blue;
}
#output {
  font-size: 30px;
  color: red;
  margin-left: 100px;
}
