h2 {
  color: rgb(115, 15, 15);
  text-align: center;
  font-size: 40px !important;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgb(252, 16, 16);
}
body {
  background-color: lightblue;
}
.customization {
  font-size: 30px;
  color: darkcyan;
  text-shadow: 2px 2px 2px 2px darkblue, -2px -2px -2px 2px rgb(245, 4, 72);
}
.options {
  font-size: 20px;
  color: darkred;
}
#password {
  font-size: 50px;
  color: rgb(158, 69, 5);
}
#output {
  font-size: 47px;
  width: 400px;
  padding: 10px;
  border-radius: 6px;

  box-shadow: rgba(11, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#generate {
  border: none;
  font-size: 30px;
  background-color: burlywood;
  font-weight: bold;
  font-style: italic;
  color: darkslateblue;
  padding: 10px;
  border-radius: 8px;
  margin-left: 910px;
}
#generate:hover {
  font-size: 31px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
